/* Para navegadores baseados no Chrome, Edge e Opera */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra vertical */
  height: 8px; /* Altura da barra horizontal */
}

::-webkit-scrollbar-track {
    background-color: rgba(40, 40, 40, 0.458); /* Cor do fundo da barra */
}

::-webkit-scrollbar-thumb {
  background: #7c20d2; /* Cor da barra (aqui usei dourado) */
  background: linear-gradient(rgba(134, 9, 217, 0.715), rgba(24, 91, 206, 0.792));
 
  border-radius: 10px; /* Arredondamento */
}

::-webkit-scrollbar-thumb:hover {
 background: linear-gradient(rgba(134, 9, 217, 0.803), rgba(24, 91, 206, 0.814));
  /* Cor quando passa o mouse */
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: white;
  
}

html{
  scroll-behavior: smooth;
 background-color: rgb(13, 13, 13);
}

.title-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.4rem;
}

.title-wrapper h2 {
  font-size: 2.5rem;
  color: white;
  margin: 0;
text-align: center;
font-weight: 800;
}



.titleSobreMim {
  width: 70%;
  gap: 1rem;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.titleSobreMim h2 {
  font-size: 2.6rem;
  color: white;
  margin: 0;
  font-weight: bold;
}
.titleSobreMim p {
  color: rgb(218, 213, 213);
  font-size: 1.1rem;
 text-align: center;
word-spacing: 0rem;
line-height: 1.8rem;
}
/* .title-wrapper h2 span {
  color:  #aba28a;
}

.line {
  height: 2px;
  width: 100px;
  background-color: #7e745a;
} */

/* MAIN */
.videoSection {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoSection video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover; 
  z-index: 0; 
}

.overlayGradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(11, 11, 11, 0.518), rgba(8, 5, 5, 0.584));
  z-index: 1; 
}
.contentMain{
  height: 100%;
  z-index: 999;
   background-color: rgba(13, 13, 13, 0.225);
}

.articleVideo{
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45rem;
  margin: 0 auto;
  z-index: 2; 
}
.estiloBackground{
 position: relative;
  bottom: 20%;
  left: 45%;
}
.estiloBackground img{
  padding: 0.5rem;
  width: 2.3rem;
  z-index: 4;
  cursor: pointer;
}
.estiloBackground img:hover{

 background-color: #a855f7;
 border-radius: 50%;
}
.articleVideo span{
  height: 1rem;
  font-size: 1.1rem ;
  text-align: start;
  width: 29%;
 
}
.quote-box {
  position: relative;
  top: 20%;
  left: 40%;
  background:transparent; 
  color: white;
  padding: 24px;
  max-width: 600px;
  margin: 0 auto;
  font-family: monospace;
  border-radius: 8px;
}

.quote-box::before {
  content: "“";
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 16px;
}

.quote-box h3 {
  text-align: center;
  margin-top: 20px;
}

.quote-box p {
  text-align: right;
  font-size: 14px;
  margin-top: 20px;

}

.nome{
    font-family: "Londrina Outline", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
}
.logos {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.3rem;
}
.logos img{
  width: 2rem;
  z-index: 999;

}
.logos img:hover{
  transform: scale(1.4);
}

.content{
  background-color: rgba(0, 0, 0, 0.327);
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

/* SOBRE MIM */

.sobreMim{
  width: 80%;
  height: 100%;
  margin: 0 auto  4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 gap: 1rem;
}

.contentSobre{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 ;
  padding: 0;
}
.contentSobre img{
  max-width: 50%;
  width: 40%;
  height: 16.4rem;
   margin-top: 1rem;
  object-fit:cover;
  border-radius: 1rem;
  transition: 1.5s;
  transform: rotate(15deg);

}
.listaSobre{
  max-width: 50%;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
}



.btnSobreMim{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnSobreMim button{
  padding: 1.2rem 2.2rem;
  background-color:  #a855f7;
  border-radius: 3rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 1s;
}
.btnSobreMim button:hover{
  background-color:transparent;
  border: 1px solid   #a855f7;
}
.btnSobreMim a{
 font-size: 1rem;
}


/* PROJETOS */
.projetos{
  width: 100%;
  margin: 0 auto ;
  height: auto;
  padding: 2.4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subtitle p{
  text-align: center;
  font-size: 1.2rem;
  color: rgb(226, 222, 222);
  margin-bottom: 2.5rem;
}
/* Layout dos cards */
.content-projetos {
  width: 80%;
display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
 margin: 3rem auto 0;
}

.card {
  flex: 0 0 45%;
  padding: 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  box-sizing: border-box;
  text-align: center;
   background-color:rgba(15, 15, 15, 0.849);
   border-radius: 1rem;
}
.card:hover{
  transform:scale(1.1);
     cursor: pointer;
     border: 1px solid rgb(16, 15, 15);
}
.cardResponsivo {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: end;
  border: none;
 
}

/* Mockup notebook e celular */
.imagensCard {
  width: 72%;
}
.imagem {
  width: 100%;

}
.card h5{
  font-size: 1.1rem;
}

.card p{
  line-height: 1.2rem;
}
.tecUsadas{
  display: flex;
  margin: 0.4rem auto 0;
justify-content: center;
}
.tecUsadas img{
  height: 2.5rem;
  width: 2.4rem;
}
/* BOTAO NET */
.card button{
  padding: 0.9rem 1.7rem;
  margin-top: 1.2rem;
  border: 1px solid transparent;
  background-color:  #8122da;
  border-radius: 0.8rem;
}
.card button:hover{
  border: 1px solid  #a855f7;
  background-color: transparent;

}
/* HABILIDADES */
.habilidadesContent{
 width: 80%;
height:100%;
margin: 0 auto ;
cursor: pointer;
}
.articleHabilidades{
  height:80%;
  padding: 1rem;
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-radius: 1rem;
}
.listas ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.listas ul li{
  background-color: rgb(17, 34, 73);
  border-radius: 50%;
}
.listas ul li:hover{
 transform: scale(1.1);
}
.listas img{
  width: 4.5rem;
  padding: 1rem;
}

/* CONTATO  */
.contato{
  width: 80%;
  height: 100%;
  margin: 0 auto ;
  padding-bottom: 3rem;
  display: flex;
  gap: 2rem;
}
.contentContato{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contentContato h2{
  text-align: center;
  font-size: 2rem;
}
.listaMotivos, .meioContato{
  width: 100%;
   color: rgb(255, 255, 255);
 background-color: #131314b8;
  border-radius: 1rem;
  padding: 1rem;
   border: 1px solid rgba(105, 104, 103, 0.515);
}
.formularioContato{
  width: 50%;
  margin-top: 2rem;
  
}
.formularioContato form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #131314b8;
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid rgba(105, 104, 103, 0.515);
}


.campo{
  width: 100%;
 display: flex;
 flex-direction: column;
 gap: 0.4rem;
 font-weight: 500;

}
.campo input, .campo select, .campo select option{
  padding: 1rem;
  color: rgb(255, 255, 255);
   background-color: #8d889244;
  border-radius: 0.8rem;
  font-size: 1rem;
   border: none;
}
textarea{
  height: 8rem;
  padding: 1rem;
  color: rgb(255, 255, 255);
   background-color: #8d889244;
  border: none;
  border-radius: 0.8rem;
 resize: none;
}
.buttonForm{
   width: 80%;
    margin: 1rem auto;
}
.buttonForm button{
  width: 100%;
  height: 3rem;
  background-color: #8122da;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  font-size: 1rem;
}
.buttonForm button:hover{
  opacity: 1;
}